@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {}

body {
    border: 0;
    padding: 0;
}



#separador {
    width: 95%;
    height: 2px;
    margin-top: 10px;
}
#separador-vertical{
    width: 2px;
    height: 100%;
    background-color: gray;
}

