---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
export const prerender = true;

// POKEAPI
const pokemonId = 25; 
let pokemon = null;
let error = null;

try {
  const response = await fetch(`https://pokeapi.co/api/v2/pokemon/${pokemonId}`);
  
  if (response.ok) {
    pokemon = await response.json();
  } else {
    error = "No se pudo cargar el Pokémon";
  }
} catch (e) {
  error = "Error de conexión";
  console.error(e);
}
---

<body class="bg-black/95 p-2">
  <div id="header" class="flex flex-col items-center justify-center">
    <img src="img/pokemon-logo.svg" alt="pokelol" class="max-w-48 pt-4" />
    <div id="separador" class=""></div>
    <div
      id="buscador"
      class="bg-black w-[80%] max-w-md mx-auto rounded-2xl content-center p-4 mt-4 flex"
    >
      <img src="../../public/img/search.svg" alt="" class="pr-3" />
      <p class="flex justify-center">Buscar tu pokemon...</p>
    </div>
  </div>
  <div id="content" class="p-4">
    <div
      id="card"
      class="w-64 h-72 esquina-achatada shadow-lg bg-white/8 backdrop-blur-xs border-4 border-white rounded-4xl"
    >
    
    </div>
  </div>
</body>
